p{text-align: center;}

.jumbo-chart .jumbotron{ height: 100%;
  margin: auto;
  margin-bottom: 10px;
align-self: auto;}

footer{margin: 40px;}
.chartjs-render-monitor{height: 100%;
  width: auto;
margin: 20px;
padding: 10px;}


.chartsstyle.card.chartjs-size-monitor{height: 100%;
    width: 800;
  margin: 20px;
padding: 10px;}


@media (min-width: 320px) and (max-width: 499px) {
 .element.style { width: 10px;}
  
  .chartjs-render-monitor{width: 10px;}

.jumbochart .jumbotron{ 
    height: 199px;
margin-bottom: 40px; }
      
  } 
