

.jumbotron {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,ffffff+100 */
  background: rgb(153,153,153); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(153,153,153,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(153,153,153,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
  
    border: 5px solid black;
  
   }

    .jumbotron h1 {
      position: relative;
      display: block;
      font-weight: bold;
      font-size: 60px;
      color:black;
     
  }
  .jumbotron p {
      position: absolute;
      display: block;
      color: black;
      
  }

.map{ background-color: white; 
  margin-top: 120px;
  padding: 20px;
  border: solid 5px black; 
  float: left;
       

height: 400px;
width: 400px; } 


@media (min-width: 510px) and (max-width: 2200px) {
  .map { padding: 20px;
    margin-left:170px; 

 
    margin-bottom: 20px;}


    .jumbotron{height: 80%;} 
   } 




    @media (min-width: 320px) and (max-width: 500px) {
      .map { padding: 20px;
        margin-top: 50px;
        margin-right:200px; 
        margin-bottom: 20px;
        width: 325px;
        height: 325; 
     
        
    } 

    
      h1 {font-size: 20px;
        margin-bottom: 30px; 
    }
  }