.chris{  height: 300px;
    width: 300px;
    margin-top: 100px; 
border: 5px solid black;}

    .craig{  height: 300px;
        width: 300px;
        margin-top: 100px; 
        margin-left: 20px; 
    border: 5px solid black;}

    .tech{ border: 5px solid black;
        background: rgb(153,153,153); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(153,153,153,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(153,153,153,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
    margin: 40px; }

.team-picture{background-color: grey;
padding: 5px;
margin: 10px;
border: solid black 5px;}
    .teampic{  height: 446px;
        width: 300px;   
      
    border: 5px solid black;}

    
    .Mern{  height: 325px;
        width: 325px;
      
    border: 5px solid black;}

        html,body{text-align: center;}


        .card{text-align: center;
        }

       

        .Jumbotron{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+0,ffffff+100 */
            background: rgb(153,153,153); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(153,153,153,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(153,153,153,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(153,153,153,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
              
          }


          

      
        



          @media (min-width: 320px) and (max-width: 499px) {
           
            .Mern{margin: 25px; }
            
          .team-head .jumbotron {   
            width: 360px;
            font-size: 20px;
            margin: 10px; 
            } } 


            .chris{  
                margin:auto;
            border: 5px solid black;}
            
                .craig{  
                    margin:auto; 
                border: 5px solid black;}
            